<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Counter</title>
        
    </head>
    <body>
    	<div class="container">
    		<h1> Counter </h1>

    		<p>{{session['counter']}}</p>

    		<a href="/addtwo" > Add two sessions! </a><br>
    		<a href="/clear"> Clear Session </a>
    	</div>
    </body>
</html>